.price-form {
  .form-field {
    line-height: initial;
    text-align: center;
    width: 100px;
  }

  &__form-field {
    line-height: initial;
  }

  &__error {
    font-size: 1.2rem;
    text-align: center;
  }

  &__remove-btn-wrap {
    width: 100px;
  }
}
